    <style>
    .Login {font-size: 0px;}
    </style>

    
    <style> /*MENU*/
      .menu {text-align: center;}

    
    p2 {font-size: 0px; font-family: ;}       /*CHANGE IT!*/
      </style>
